__pycache__/
venv/
data/
profiles/
clinic_colors.txt
usa_zip_codes_geo_100m.json
addresses_with_coordinates.csv
clinic_zipcode_assignments.csv
optimized_assignments.csv
optimized_assignments_with_tooltip.csv
Zipcodes Info csv.csv
credential.txt